.wave-history {
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    max-height: 550px !important;
    min-width: 500px;
    padding: 20px;
    overflow: auto;
    border-radius: 2em;
}

.message-container {
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    border-radius: 1.5em;
    max-width: 600px;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .wave-interface {
        width: 95vw;
    }

    .wave-history {
        min-width: 90vw;
        width: 90vw;
        padding: 2.5vw;
    }

    .message-container {
        width: 80vw;
    }
}